################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/VSWorkspaceState.json
/.vs/Fortniteleakjp/v17
